<%- include('base', { 
    subject: subject,
    body: `
        <h2>Password Reset Request</h2>
        
        <p>Hello ${userName},</p>
        
        <p>We received a request to reset your password for your Booking System account.</p>
        
        <p>Click the button below to reset your password:</p>
        
        <a href="${resetLink}" class="button">Reset Password</a>
        
        <div class="warning">
            <strong>Security Notice:</strong>
            <ul>
                <li>This link will expire in 24 hours</li>
                <li>If you didn't request this reset, please ignore this email</li>
                <li>Your password will remain unchanged until you create a new one</li>
            </ul>
        </div>
        
        <p>If the button doesn't work, you can copy and paste this link into your browser:</p>
        <p style="word-break: break-all; color: #666;">${resetLink}</p>
        
        <p>If you have any questions or concerns, please contact our support team.</p>
        
        <p>Best regards,<br>Booking System Team</p>
    `
}) %>
